<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.u_farm">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UFarm">
        <activity
            android:name=".home.brief.BriefActivity"
            android:exported="false" />
        <activity
            android:name=".list_items3"
            android:exported="false"
            android:label="@string/title_activity_list_items3"
            android:theme="@style/Theme.UFarm.NoActionBar" />
        <activity
            android:name=".register.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".home.solutions.SolutionsActivity"
            android:exported="true" />
        <activity
            android:name=".home.addproblems.AddProblemsActivity"
            android:exported="true" />
        <activity
            android:name=".home.solutions.addsolutions.AddSolutionsActivity"
            android:exported="true" />
        <activity
            android:name=".home.solutions.comment.CommentsActivity"
            android:exported="true" />
        <activity
            android:name=".profile.editprofile.EditProfileActivity"
            android:exported="true" />
        <activity
            android:name=".AppBar"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:theme="@style/Theme.UFarm">
            <tools:validation testUrl="http://www.u-farm.com/profile" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.u-farm.com"
                    android:pathPrefix="/profile"
                    android:scheme="http" />
            </intent-filter>
        </activity>
    </application>

</manifest>